body {
  background-image: url('/static/images/main.png');
  background-size: cover;
  background-position: center;
}

#suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
}

#suggestions li {
  list-style: none;
}
